<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/tx
                           http://www.springframework.org/schema/tx/spring-tx.xsd
                           http://www.springframework.org/schema/aop
                           http://www.springframework.org/schema/aop/spring-aop.xsd">

    <!--spring的配置文件-->
    <!--导入spring-mybatis.xml-->
    <import resource="classpath:config/spring-mybatis.xml"/>

    <!--引入spring-mvc.xml-->
    <import resource="classpath:config/spring-mvc.xml"/>

    <!--整合事务-->
    <!--<bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <constructor-arg ref="dataSource" />
    </bean>
    &lt;!&ndash; 配置AOP管理事务 &ndash;&gt;
    <tx:advice id="txAdvice" transaction-manager="transactionManager">
        &lt;!&ndash;配置事务的传播行为&ndash;&gt;
        <tx:attributes>
            &lt;!&ndash;propagation事务的传播特性，REQUIRED没有事务就创建一个，有就加入&ndash;&gt;
            <tx:method name="*" propagation="REQUIRED"/>
        </tx:attributes>
    </tx:advice>
    &lt;!&ndash; AOP配置 &ndash;&gt;
    <aop:config>
        &lt;!&ndash;切入点&ndash;&gt;
        <aop:pointcut id="txPointCut" expression="execution(* com.company.jmd.service.*.*(..))"/>
        &lt;!&ndash;通知&ndash;&gt;
        <aop:advisor advice-ref="txAdvice" pointcut-ref="txPointCut"/>
    </aop:config>-->

</beans>
