<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ccu.smbms.mapper.SmbmsProviderMapper">

    <resultMap type="SmbmsProvider" id="SmbmsProviderResult">
        <result property="id"    column="id"    />
        <result property="proCode"    column="proCode"    />
        <result property="proName"    column="proName"    />
        <result property="proDesc"    column="proDesc"    />
        <result property="proContact"    column="proContact"    />
        <result property="proPhone"    column="proPhone"    />
        <result property="proAddress"    column="proAddress"    />
        <result property="proFax"    column="proFax"    />
        <result property="createdBy"    column="createdBy"    />
        <result property="creationDate"    column="creationDate"    />
        <result property="modifyDate"    column="modifyDate"    />
        <result property="modifyBy"    column="modifyBy"    />
    </resultMap>

    <sql id="selectSmbmsProviderVo">
        select id, proCode, proName, proDesc, proContact, proPhone, proAddress, proFax, createdBy, creationDate, modifyDate, modifyBy from smbms_provider
    </sql>

    <select id="selectSmbmsProviderList" parameterType="SmbmsProvider" resultMap="SmbmsProviderResult">
        <include refid="selectSmbmsProviderVo"/>
        <where>
            <if test="proCode != null  and proCode != ''"> and proCode = #{proCode}</if>
            <if test="proName != null  and proName != ''"> and proName like concat('%', #{proName}, '%')</if>
            <if test="proDesc != null  and proDesc != ''"> and proDesc = #{proDesc}</if>
            <if test="proContact != null  and proContact != ''"> and proContact = #{proContact}</if>
            <if test="proPhone != null  and proPhone != ''"> and proPhone = #{proPhone}</if>
            <if test="proAddress != null  and proAddress != ''"> and proAddress = #{proAddress}</if>
            <if test="proFax != null  and proFax != ''"> and proFax = #{proFax}</if>
            <if test="createdBy != null "> and createdBy = #{createdBy}</if>
            <if test="creationDate != null "> and creationDate = #{creationDate}</if>
            <if test="modifyDate != null "> and modifyDate = #{modifyDate}</if>
            <if test="modifyBy != null "> and modifyBy = #{modifyBy}</if>
        </where>
    </select>

    <select id="selectSmbmsProviderById" parameterType="Long" resultMap="SmbmsProviderResult">
        <include refid="selectSmbmsProviderVo"/>
        where id = #{id}
    </select>

    <insert id="insertSmbmsProvider" parameterType="SmbmsProvider" useGeneratedKeys="true" keyProperty="id">
        insert into smbms_provider
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="proCode != null and proCode != ''">proCode,</if>
            <if test="proName != null and proName != ''">proName,</if>
            <if test="proDesc != null">proDesc,</if>
            <if test="proContact != null and proContact != ''">proContact,</if>
            <if test="proPhone != null and proPhone != ''">proPhone,</if>
            <if test="proAddress != null and proAddress != ''">proAddress,</if>
            <if test="proFax != null">proFax,</if>
            <if test="createdBy != null">createdBy,</if>
            <if test="creationDate != null">creationDate,</if>
            <if test="modifyDate != null">modifyDate,</if>
            <if test="modifyBy != null">modifyBy,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="proCode != null and proCode != ''">#{proCode},</if>
            <if test="proName != null and proName != ''">#{proName},</if>
            <if test="proDesc != null">#{proDesc},</if>
            <if test="proContact != null and proContact != ''">#{proContact},</if>
            <if test="proPhone != null and proPhone != ''">#{proPhone},</if>
            <if test="proAddress != null and proAddress != ''">#{proAddress},</if>
            <if test="proFax != null">#{proFax},</if>
            <if test="createdBy != null">#{createdBy},</if>
            <if test="creationDate != null">#{creationDate},</if>
            <if test="modifyDate != null">#{modifyDate},</if>
            <if test="modifyBy != null">#{modifyBy},</if>
        </trim>
    </insert>

    <update id="updateSmbmsProvider" parameterType="SmbmsProvider">
        update smbms_provider
        <trim prefix="SET" suffixOverrides=",">
            <if test="proCode != null and proCode != ''">proCode = #{proCode},</if>
            <if test="proName != null and proName != ''">proName = #{proName},</if>
            <if test="proDesc != null">proDesc = #{proDesc},</if>
            <if test="proContact != null and proContact != ''">proContact = #{proContact},</if>
            <if test="proPhone != null and proPhone != ''">proPhone = #{proPhone},</if>
            <if test="proAddress != null and proAddress != ''">proAddress = #{proAddress},</if>
            <if test="proFax != null">proFax = #{proFax},</if>
            <if test="createdBy != null">createdBy = #{createdBy},</if>
            <if test="creationDate != null">creationDate = #{creationDate},</if>
            <if test="modifyDate != null">modifyDate = #{modifyDate},</if>
            <if test="modifyBy != null">modifyBy = #{modifyBy},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteSmbmsProviderById" parameterType="Long">
        delete from smbms_provider where id = #{id}
    </delete>

    <delete id="deleteSmbmsProviderByIds" parameterType="String">
        delete from smbms_provider where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>
